.quotes-main {
    .tab {
        button.active {
            border-bottom: 3px solid #c475e3;
        }
    }

    .tab-list {
        li {
            width: 25px;
            background: #f5f1f58a;
            border-right: 2px solid #e3dae3;
            font-weight: 500;
            font-size: 14px;
            padding: 5px 0;
        }

        li.active {
            border-color: #c475e3;
        }
    }

    .link-div {
        height: fit-content;
    }

    a {
        height: fit-content;
        font-size: 14px;

        &:hover {
            color: #c475e3;
            text-decoration: underline;
        }
    }



    a i.skyBlue {
        color: #4baaff;
    }

    a i.violet {
        color: #c475e3;
    }

    a i.pink {
        color: rgb(226, 39, 129);
    }

    a i.green {
        color: #01cf00;
    }


}

.author-quotes {
    // box-shadow: 5px 4px 8px 3px #f1e1ef8c inset, 1px 2px 6px 0px #fdcef4;
    margin-bottom: 2rem;
    background: #f0f1f5;
    border-radius: 0px 50px 0px 50px;

    h2,
    button, div {
        color: #62697e,
    }

    .skyBlue {
        color: #4baaff;
    }
    .violet {
        color: #c475e3;
    }
    .pink {
        color: rgb(226, 39, 129);
    }
    .green {
        color: #01cf00;
    }
}